APP_NAME=ContentFlow Backend API
APP_ENV=development

DATABASE_URL=postgresql+psycopg://contentflow_user:contentflow_password@localhost:5432/contentflow_db

JWT_SECRET_KEY=replace-with-a-long-random-secret
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60

NOTION_CLIENT_ID=replace-with-notion-client-id
NOTION_CLIENT_SECRET=replace-with-notion-client-secret
NOTION_REDIRECT_URI=https://127.0.0.1:8000/auth/notion/callback
NOTION_FRONTEND_REDIRECT_URI=http://127.0.0.1:8000/docs